*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .t1{
      width: 300px;
      display:block;
  }
  
  .t3{
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-bottom: 8px;
  }
  .t4{
    width: 200px;
    font-family: arial;
    font-size: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 40px;
    
  }
  .t5{
    width: 200px;
    font-family: arial;
    font-size: 10px;
    margin-top: 2px;
    margin-left: 40px;
  }
  .p1,.p11{
    width: 35px;
    height: 35px;
    border-radius: 28px;
    margin-top: 5px;
  }
  .p1,.t3{
    display:inline-block;
  }
  .t33{
    width:450px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: px;
  }
  .p11,.t33,.first,.bb,.nt,.sd{
    display: inline-block;
  }
  .first,.bb,.nt,.sd{
    margin-left: 20px;
    
  }
  .two{
    display: inline-block;
  }
  .nav{
    background-color: #1c1a1a;
     position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 30px;
  }
  .nav a{
   float: right;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
  }
  .nav2{
  width: 200px;
  height: 20px;
  margin-top: 13px;
  }
  #hovv{
    background-color: rgb(224, 227, 231);
    height:100%;
    width: 100%;
  }
  .first{
    margin-top: 1%;
  }